<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.nibmz7gmail.sgprayertimemusollah">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".MainApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".LauncherActivity" android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity android:name=".MainActivity" android:theme="@style/AppTheme" />

        <receiver android:name=".WidgetPrayerTimesLarge">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.nibmz7.sgmasjids.ACTION_REFRESH_WIDGET" />
                <action android:name="com.nibmz7.sgmasjids.AUTO_UPDATE_WIDGET"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/prayertimes_widget_large" />
        </receiver>

        <receiver android:name=".WidgetPrayerTimesSmall">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.nibmz7.sgmasjids.ACTION_REFRESH_WIDGET" />
                <action android:name="com.nibmz7.sgmasjids.AUTO_UPDATE_WIDGET"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/prayertimes_widget_small" />
        </receiver>

    </application>


</manifest>